g42_html-css-master/g42_html-css-master/2_css_demo.html
g42_html-css-master/g42_html-css-master/mystyle.css
g42_html-css-master/g42_html-css-master/images/html.jpg
g42_html-css-master/g42_html-css-master/1_html-demo.html
MehrdadsCode/
bootstrap-5.1.3-dist/
g42-react-lecture-master/src/ex7-props/MenuList.js
g42-react-lecture-master/src/ex7-props/NameListProps.js
g42-react-lecture-master/src/ex8-state/Car.js
g42-react-lecture-master/src/ex8-state/Product.js
g42-react-lecture-master/src/ex9-event/Counter.js
g42-react-lecture-master/src/ex6-variable-function/NameList.js
g42-react-lecture-master/src/ex5-styling/StyleExample.js
g42-react-lecture-master/src/ex4-table/Table.js
g42-react-lecture-master/src/ex4-table/table.css
g42-react-lecture-master/src/ex3-arrow-function-component/AFMain.js
g42-react-lecture-master/src/ex2-function-component/Main.js
g42-react-lecture-master/src/ex1-class-component/HeaderClassComponent.js
g42-react-lecture-master/src/ex1-class-component/FooterClassComponent.js
g42-react-lecture-master/src/ex1-class-component/FirstClassComponent.js
g42-react-lecture-master/src/ex1-class-component/App.js
g42-react-lecture-master/src/index.js
g42-react-lecture-master/public/img/ocp.jpg
g42-react-lecture-master/public/img/oca.jpg
g42-react-lecture-master/README.md
g42-react-lecture-master/public/index.html
g42-react-lecture-master/package.json
g42-react-lecture-master/package-lock.json
g42-react-lecture-master/.gitignore
g42-react-lecture-master/src/ex9-event/Person.js
